<h1>User Profiles</h1>
<% @users.each_slice(3) do |three_users| %>
  <div class="row">
    <% three_users.each do |user| %>
      <div class="col-md-4 user-card">
        <div class="well">
          <h3><%= image_tag user.avatar.url(:thumb)%><a href="/users/<%= user.id %>"><%= user.username %></a></h3>
        </div>
      </div>
    <% end %>
  </div>
<% end %>