<div id="map"></div>

    <!-- TESTIMONIAL -->
    <section class="module-small">

      <div class="container">

        <div class="row">

          <!-- MODULE TITLE -->
          <div class="col-sm-6">
            <h2 class="module-title font-alt">Go with the flow</h2>
          </div>
          <!-- /MODULE TITLE -->

          <!-- BLOCKQUOTE -->
          <div class="col-sm-6">
            <blockquote class="font-serif align-right">
              <p>When it's time to make music, that's about getting lost for me. To be a control freak is not half as good as being a freak who's casually in control. You're feeling around in the dark for something that feels good.</p>
              <p class="font-inc font-uppercase">- Joshua Homme, Queens of the Stone Age</p>
            </blockquote>
          </div>
          <!-- /BLOCKQUOTE -->

        </div>

      </div>

    </section>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClzDKpBZO5FVz2spUlDjq5A1sSfbjvCFA&callback=initMap"
async defer></script>

    <!-- /TESTIMONIAL -->