<!-- PORTFOLIO LIST -->
<hr>
<ul id="works-grid" class="works-grid works-grid-3 works-hover-w">
<% @jams.each do |jam| %>
  <!-- PORTFOLIO ITEM -->
  <li class="work-item illustration webdesign">
    <a href="/jams/<%= jam.id %>">
      <div class="work-image">
          <img src="assets/images/vinyl.jpg" alt="">
      </div>
      <div class="work-caption">
        <h3 class="work-title font-alt"><%= jam.name %></h3>
        <div class="work-descr font-inc">
          Music Event
        </div>
      </div>
    </a>
  </li>
  <!-- /PORTFOLIO ITEM -->
<% end %>
</ul>
<hr>
  <a href="/jams/new"><button type="button" class="btn btn-success btn-round">Create Event</button></a>

